.header{
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align: end;
}
.btn{
    border: 0;
    color: white;
    background-color: #25248b;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}